<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-toggleable-sm fixed-top navbar-inverse mb-4">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">Angular Animations</a>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/animation-home" routerLinkActive="active">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/animation-basic" routerLinkActive="active">Basic</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/animation-contained" routerLinkActive="active">Contained</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/animation-advanced" routerLinkActive="active">Advanced</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled">Disabled</a>
      </li>
    </ul>
  </div>
</nav>

<div class="page">
  <router-outlet></router-outlet>
</div>
